@CHARSET "UTF-8";

body .form-horizontal label.esoft-left{
	text-align: left;
	padding-left:4%;
}
.error {
	color: #ff0000;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.user-info-right{
/*position: absolute;*/
}
.user-info-right  .fileUpload{

}
.tokenize-sample{
	width: 100%
}
.tokenize-sample.mono-select ul.TokensContainer{
	height: 34px;
}
